openstack_user_name = {{ USERNAME }}
openstack_tenant_name = {{ TENANT_NAME }}
openstack_password = {{ PASSWORD }}
openstack_auth_url = {{ AUTH_URL }}
openstack_region = {{ REGION }}
openstack_domain_name = {{ DOMAIN_NAME }}
openstack_flavor = {{ FLAVOR }}
openstack_grimoirelab_volume_id = {{'{{ Volume_Id }}'}}
