{
    "Orion Context Broker": {
        "git": [
            "https://github.com/telefonicaid/fiware-orion.git"
        ],
        "github": [
            "https://github.com/telefonicaid/fiware-orion/"
        ],
        "stackexchange": [
            "https://stackoverflow.com/questions/tagged/fiware-orion"
        ],
        "DockerHub": [
            "https://hub.docker.com/r/fiware/orion"
        ]
    }
    },
    "Cygnus": {
        "git": [
            "https://github.com/telefonicaid/fiware-cygnus"
        ],
        "github": [
            "https://github.com/telefonicaid/fiware-cygnus"
        ]
    },
    "QuantumLeap": {
        "git": [
            "https://github.com/smartsdk/ngsi-timeseries-api/"
        ],
        "github": [
            "https://github.com/smartsdk/ngsi-timeseries-api/"
        ]
    },
    "Draco": {
        "git": [
            "https://github.com/ging/fiware-draco"
        ],
        "github": [
            "https://github.com/ging/fiware-draco"
        ]
    },
    "IoT Agent for Sigfox": {
        "git": [
            "https://github.com/telefonicaid/sigfox-iotagent"
        ],
        "github": [
            "https://github.com/telefonicaid/sigfox-iotagent"
        ]
    },
    "IoT Agent library": {
        "git": [
            "https://github.com/telefonicaid/iotagent-node-lib/"
        ],
        "github": [
            "https://github.com/telefonicaid/iotagent-node-lib/"
        ]
    },
    "Cosmos": {
        "git": [
            "https://github.com/ging/fiware-cosmos"
        ],
        "github": [
            "https://github.com/ging/fiware-cosmos"
        ]
    },
    "Perseo": {
        "git": [
            "https://github.com/telefonicaid/perseo-core/"
        ],
        "github": [
            "https://github.com/telefonicaid/perseo-core/"
        ]
    },
    "Keyrock Identity Management": {
        "git": [
            "https://github.com/ging/fiware-idm"
        ],
        "github": [
            "https://github.com/ging/fiware-idm"
        ]
    },
    "Wilma PEP Proxy": {
        "git": [
            "https://github.com/ging/fiware-pep-proxy"
        ],
        "github": [
            "https://github.com/ging/fiware-pep-proxy"
        ]
    },
    "AuthZForce PDP/PAP": {
        "git": [
            "https://github.com/authzforce/server"
        ],
        "github": [
            "https://github.com/authzforce/server"
        ]
    }
}