{
    "orion": {
      "meta": {
          "title": "Orion Context Broker"
          },
      "git": [
          "https://github.com/telefonicaid/fiware-orion.git"
          ],
      "dockerhub": [
          "fiware orion"
          ],
      "github": [
          "https:/github.com/telefonicaid/fiware-orion"
          ],
      "github:issue": [
          "https:/github.com/telefonicaid/fiware-orion"
          ],
      "github:pull": [
          "https:/github.com/telefonicaid/fiware-orion"
          ],
      "github:repo": [
          "https:/github.com/telefonicaid/fiware-orion"
          ],
      "stackexchange": [
            "http://stackoverflow.com/questions/tagged/fiware-orion"
            ]
    }
  }